doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='StyleSheet' href='css/styles.css' type='text/css')
  // Google Fonts
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Poppins:wght@100;200;300;400&display=swap' rel='stylesheet')
  // CSS Link
  title= `${title}`
#container
  section.header
    nav
      ul
        li 
           a(href='/') Home
        li
            a(href='login') Log In
        li
            a(href='clients') Clients
        li
            a(href='signup') Sign Up
    .text-box
      hi Welcome!
      p
        | Hey there! Welcome to Abs&amp; Chocolate! I&rsquo;m here to give you some tips on food, food trends, and nutrition.
        | Eating implies energy intake, and adopting a healthy lifestyle requires engaging in some physical activity.
        | I&rsquo;ll be more than happy to give you some workout tips!
  main
  footer