extends layout

block content

  if registrations.length
    table.listing-table.table-dark.table-striped
      tr
        th Name
        th Email
        th Password
      each registration in registrations
        tr
          td=registration.name
          td= registration.email
          td= registration.psw
  else
    img(src='images/img3p.png' alt='oops' width='80%')